@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kit 19 Product Project</h1>
</div>
<div align="left">
    <p>
        There are 3 links in the Project
        <ol>
            <li>
                Product List
            </li>
            <p> To access the list of projects</p>
            <li>
                Add Product
            </li>
            <p>To add new Product</p>
            <li>
                Add Search
            </li>
            <p>Search Product via Product Name, Size, Category, Price, Manufaturing Date or via combination of all.
                List of All matching Products will appear
            </p>
        </ol>
    </p>
</div>
<div align="left">
    <p>This project has been configured with SQL Server with KIT database.<br/>
        Database columns are Id(Auto generated), Product Name, Size, Price, Mfg Date, Category.<br/>
        Entity Framework has been used to seed and create the SQL Database.
    </p>
</div>
